:root{
    --cor-principal: #394C65;
    --cor-secundaria: #FFF1A6;
    --fonte: "Noto Sans", sans-serif;
}

body{
    font-family: "Noto Sans", sans-serif;
    background-color: var(--cor-principal);
    color: white;
}

html, body{
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    background-color: #394C65;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #FFF1A6;
    position: fixed;
    top: 0;
    z-index: 99;
}

nav{
    display: flex;
    gap: 120px;
    font-weight: bold;
    margin: auto;
}

nav a:hover{
    color: var(--cor-secundaria);
    transition: 200ms;
}

header figure img{
    width: 100px;
}

/* Tablet - 769px até 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        padding: 0 16px;
    }

    nav {
        gap: 60px;
        font-size: 14px;
    }

    header figure img {
        width: 80px;
    }

    nav a li {
        font-size: 14px;
    }
}

/* Mobile - Até 768px */
@media (max-width: 768px) {
    header {
        padding: 0 12px;
        height: 80px;
    }

    nav {
        gap: 10px;
        font-size: 10px;
    }

    header figure img {
        width: 60px;
    }

    nav a li {
        font-size: 12px;
    }
}