:root{
    --cor-principal: #394C65;
    --cor-secundaria: #FFF1A6;
    --cor-transicao: #0A1A2F;
}

.s_carrossel{
    height: 60vh;
    background-color: var(--cor-principal);
    display: flex;
    flex-direction: column;
    padding: 0px 85px;
    margin-top: 100px;
}

.baixo{
    display: flex;
}

.titulo{
    margin-top: 53px;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

h1#titulo_2{
    padding-left: 141px;
}

.role_abaixo{
    width: 537px;
    height: 350px;
    background-color: var(--cor-secundaria);
    padding: 48px 20px;
    color: black;
    margin-top: 57px;
    text-align: center;
    font-size: 23px;
    border: 2px solid black;
    border-radius: 10px;    
}

.role_abaixo p{
    text-align: left;
}

.destaque p{
    text-align: center;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 20px;
}

article{
    position: absolute;
    left: 57%;
    top: 29%;
}


.container{
    position: relative;
    max-width: 60rem;
    margin: 0 auto;
    padding-right: 241px;
}


.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    border: 4px solid var(--cor-transicao);
}

.slider::-webkit-scrollbar{
    display: none;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slide_nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    z-index: 3;
    bottom: 1.5rem;
    left: 35%;

}

.slide_nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--cor-secundaria);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slide_nav a:hover{
    opacity: 1;
}


hr{
    border: 40px solid var(--cor-transicao);
    position: sticky;
    left: 0;
    width: 100vw;
    margin-top: 30px;
}


.s_download h1{
    text-align: center;
    font-weight: bold;
    margin-top: 21px;
    margin-bottom: 77px;
}

.container_download{
    display: flex;
    color: black;
    justify-content: space-around;
    gap: 75px;
}

.conteudo_download{
    height: 581px;
    width: 401px;
    background-color: var(--cor-secundaria);
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 10px;   
    margin-bottom: 40px;
}

.conteudo_download h2{
    font-size: 32px;
    text-align: center;
}

.conteudo_download p{
    font-size: 23px;
    text-align: justify;
    width: 360px;
    margin: auto;
    margin-top: 20px;
}

.container_botao{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

button{
    all: unset;
    background-color: #1B1B1B;
    border-radius: 50px;
    text-align: center;
    padding: 10px 0px;
    width: 400px;
    border-bottom: 1px solid var(--cor-secundaria);
}

.conteudo_botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.conteudo_botao p{
    font-size: 30px;
}

.conteudo_botao i img{
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.s_quem_somos{
    padding: 57px 85px;
}

.s_quem_somos h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.quem_somos{
    background-color: var(--cor-secundaria);
    width: 1300px;
    height: 410px;
    margin: auto;
    color: black;
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.titulo_quem_somos{
    display: flex;
    align-items: center;
    gap: 20px;
}


.quem_somos h1{
    text-align: left;
    font-size: 48px;
}

.quem_somos p{
    font-size: 32px;
}

.quem_somos .linha_quem_somos{
    height: 2px;
    background-color: black;
    width: 950px;
    margin-top: 10px;
}

.s_manual{
    display: flex;
    flex-direction: column;
}

.s_manual h1{
    text-align: center;
    font-size: 40px;
    margin: 57px 0px;
}

.s_manual iframe{
    margin: auto;
    margin-bottom: 78px;

}

/* Tablet - 769px até 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    .s_carrossel {
        height: auto;
        padding: 0 40px;
        margin-top: 100px;
    }

    .titulo {
        margin-top: 30px;
    }

    h1 {
        font-size: 32px;
    }

    h1#titulo_2 {
        padding-left: 80px;
    }

    .baixo {
        flex-direction: column;
        align-items: center;
    }

    .role_abaixo {
        width: 90vw;
        height: auto;
        padding: 30px 20px;
        margin-top: 30px;
        font-size: 20px;
    }

    .role_abaixo i {
        display: none;
    }

    .destaque p {
        display: none;
        font-size: 28px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    article {
        position: static;
        width: 100%;
        margin-top: 30px;
    }

    .container {
        padding-right: 0;
    }

    .slider {
        aspect-ratio: 4 / 3;
    }

    .slide_nav {
        left: 50%;
        transform: translateX(-50%);
    }

    hr {
        border: 30px solid var(--cor-transicao);
        margin-top: 25px;
    }

    .s_download h1 {
        font-size: 28px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .container_download {
        flex-direction: column;
        gap: 30px;
        padding: 0 30px;
    }

    .conteudo_download {
        width: 100%;
        height: auto;
        padding: 25px 15px;
        margin-bottom: 20px;
    }

    .conteudo_download h2 {
        font-size: 24px;
    }

    .conteudo_download p {
        font-size: 16px;
        width: 100%;
    }

    button {
        width: 100%;
        max-width: 350px;
        display: none;
    }

    .conteudo_botao p {
        font-size: 20px;
    }

    .conteudo_botao i img {
        width: 28px;
        height: 28px;
    }

    .s_quem_somos {
        padding: 40px 40px;
    }

    .s_quem_somos h1 {
        font-size: 32px;
    }

    .quem_somos {
        width: 100%;
        height: auto;
        padding: 30px 25px;
        margin-top: 25px;
    }

    .quem_somos h1 {
        font-size: 36px;
    }

    .quem_somos p {
        font-size: 18px;
    }

    .quem_somos .linha_quem_somos {
        width: 100%;
    }

    .s_manual {
        padding: 0 30px;
    }

    .s_manual h1 {
        font-size: 28px;
        margin: 40px 0;
    }

    .s_manual iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        margin-bottom: 40px;
    }
}

/* Mobile - Até 768px */
@media (max-width: 768px) {
    .s_carrossel {
        height: auto;
        padding: 0 16px;
        margin-top: 80px;
    }

    .titulo {
        margin-top: 20px;
    }

    h1 {
        font-size: 13px;
    }

    h1#titulo_2 {
        padding-left: 0;
        margin-left: 70px;
    }

    .baixo {
        flex-direction: column;
        align-items: center;
    }

    .role_abaixo {
        width: 100%;
        height: auto;
        padding: 20px 16px;
        margin-top: 20px;
        font-size: 14px;
    }

    .destaque p {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    article {
        position: static;
        width: 100%;
        margin-top: 20px;
    }

    .container {
        padding-right: 0;
    }

    .slider {
        aspect-ratio: 4 / 3;
    }

    .slide_nav {
        left: 50%;
        transform: translateX(-50%);
    }

    hr {
        border: 20px solid var(--cor-transicao);
        margin-top: 20px;
    }

    .s_download h1 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .container_download {
        flex-direction: column;
        gap: 20px;
        padding: 0 16px;
    }

    .conteudo_download {
        width: 100%;
        height: auto;
        padding: 20px 16px;
        margin-bottom: 20px;
    }

    .conteudo_download h2 {
        font-size: 20px;
    }

    .conteudo_download p {
        font-size: 14px;
        width: 100%;
    }

    button {
        display: none;
        width: 100%;
        max-width: 250px;
    }

    .conteudo_botao p {
        font-size: 16px;
    }

    .conteudo_botao i img {
        width: 24px;
        height: 24px;
    }

    .s_quem_somos {
        padding: 30px 16px;
    }

    .s_quem_somos h1 {
        font-size: 24px;
    }

    .quem_somos {
        width: 100%;
        height: auto;
        padding: 20px 16px;
        margin-top: 20px;
    }

    .quem_somos h1 {
        font-size: 28px;
    }

    .quem_somos p {
        font-size: 14px;
    }

    .quem_somos .linha_quem_somos {
        width: 100%;
    }

    .s_manual {
        padding: 0 16px;
    }

    .s_manual h1 {
        font-size: 24px;
        margin: 30px 0;
    }

    .s_manual iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        margin-bottom: 30px;
    }
}


