@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

html{
    height: 100vh;
}

html, body{
    overflow-x: hidden;

}